/*
1. root
2. TAGS
3. CLASS
4. HEADER
    4.1 header
    4.2 nav
    4.3 slider
5. MAIN
    5.3 - Нові надходження
    5.5 - footer
6. FOOTER
7. MEDIA

*/
/* ---------- 1. root ---------- */
:root {
  --color-white: #ffffff; /* var(--color-white, #FFFFFF); */
  --color-black: #000000; /* var(--color-black, #000000); */
  --color-light-black: #0f0f0f; /* var(--color-light-black, #0F0F0F); */
  --color-shark: #1f1f1f; /* var(--color-shark, #1F1F1F); */
  --color-bunker: #191b1c; /* var(--color-bunker, #191B1C); */
  --color-gray: #969696; /* var(--color-gray, #969696); */
  --color-light-gray: #d0d0d0; /* var(--color-light-gray, #D0D0D0); */
}

/* ---------- 2. TAGS ---------- */
a {
  text-decoration: none;
}

body {
  /* width: 100vw;
  height: 100vh; */
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

h5,
.product_item_price {
  font-family: "Playfair Display", serif;
}

h5 {
  font-size: 1.125rem; /*18px;*/
  color: var(--color-white, #ffffff);
}

/* ---------- 3. CLASS ---------- */
.container {
  margin-inline: auto;
  max-width: 73.125rem; /* 1110px --> 1920px */
}

.padding-box {
  box-sizing: border-box;
  padding-left: clamp(1rem, 0.57109rem + 1.83vw, 1.875rem);
  padding-right: clamp(1rem, 0.57109rem + 1.83vw, 1.875rem);
}

.background-black {
  background: var(--color-black, #000000);
}

.background-light-black {
  background: var(--color-light-black, #0f0f0f);
}


.header-box h1{
  font-family: "Playfair Display", serif;
  color: var(--color-white, #ffffff);
  font-size: clamp(1.5rem, 0.9642rem + 2.679vw, 2.25rem); /* 36px; - 24px*/
  font-weight: bold;
  text-transform: uppercase;
}

.header-box_line {
  width: 120px;
  height: 1px;
  background: var(--color-white, #ffffff);
}

.new_product,
.header-box,
.product_img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----------4. HEADER ---------- */
.header,
.menu,
.cart_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ---------- 4.1 header ---------- */
.header,
.logo {
  padding-top: 0.875rem; /* 14px; */
  padding-bottom: 0.875rem; /* 14px; */
}

.work_schedule,
.registration {
  color: var(--color-gray, #969696);
  font-size: 0.75rem;
}

.nav_item__link,
.phone_online {
  font-family: "PT Sans", sans-serif;
  color: var(--color-gray, #969696);
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

.work_schedule {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-wrap: nowrap;
  & li {
    margin-right: 0.75rem; /* 12px; */
  }
}

.phone {
  display: flex;
  align-items: center;
  &:hover {
    & .phone_online {
      color: var(--color-white, #ffffff);
    }
    & .phone_icon {
      fill: var(--color-white, #ffffff);
    }
  }
}

.phone_icon {
  width: 1rem; /* 16px; */
  height: 1rem; /* 16px; */
  fill: var(--color-gray, #969696);
}

.phone__link {
  display: flex;
  column-gap: 0.9375rem; /* 15px;*/
}

.phone_line {
  margin-left: 0.75rem; /* 12px;*/
}

.phone_online {
  font-size: 0.75rem;
  text-wrap: nowrap;
}

.schedule_info {
  display: flex;
  align-items: center;
}

.registration {
  display: flex;
  align-items: center;
  column-gap: 1.1875rem; /* 19px;*/
  cursor: pointer;
  &:hover {
    color: var(--color-white, #ffffff);
    & .entrance_icon {
      fill: var(--color-white, #ffffff);
    }
  }
}

.entrance_icon {
  width: 0.875rem; /* 14px; */
  height: 0.875rem; /* 14px; */
  fill: var(--color-gray, #969696);
}

/* ---------- 4.2 nav ---------- */
.nav {
  display: flex;
  justify-content: space-between;
}

.nav_items {
  display: flex;
  margin-left: 18px;
  margin-right: 18px;
}

.nav_item:hover {
  background: var(--color-shark, #1f1f1f);
  & .nav_item__link {
    color: var(--color-white, #ffffff);
  }
}

.nav_item__link {
  display: inline-block;
  font-size: 0.875rem; /* 14px; */
  text-wrap: nowrap;
  text-transform: uppercase;
  padding: 31px 16px; /* 31px 16px; */
}

.nav_mob {
  display: none;
  margin-left: 36px;
  margin-right: 36px;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 36px; /* 36px; */
  /* fill:white; */
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: white;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

.cart_search {
  width: 5.25rem; /* 84px; */
}

.cart,
.search {
  cursor: pointer;
  width: 22px; /* 22px; */
  height: 22px; /* 22px; */
  fill: var(--color-white, #ffffff);
}

/* ---------- 4.3 slider ---------- */
.slider {
  position: relative;
  width: 100vw;
  height: 75vh;
  min-height: 46.875rem; /* 750px*/
  background-color: yellow;
}

.slider-titel {
  position: absolute;
  top: 50%;
  left: 50%;
  /* margin-right: -50%; */
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-box {
  box-sizing: border-box;
  width: clamp(12.5rem, 218.182vw - 31.1364rem, 20rem); /* 320px; - 200px; */
  height: clamp(12.5rem, 218.182vw - 31.1364rem, 20rem); /* 320px; - 200px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.8125rem, -2.4603rem + 16.364vw, 1.375rem);
  text-transform: uppercase;
  color: var(--color-white, #ffffff);
  margin-bottom: clamp(3.75rem, 2.8572rem + 4.464vw, 5rem); /* 80px; - 60px*/
  border: 4px solid var(--color-white, #ffffff);
  & .logo-img {
    width: clamp(6.5625rem, 145.455vw - 22.5285rem, 11.5625rem);
    border-bottom: 2px solid var(--color-white, #ffffff);
    padding-bottom: 0.875rem;
    margin-bottom: 0.4375rem;
  }
}

.logo-subtitle {
  max-width: 45.625rem; /* 730px; */
  font-size: clamp(0.75rem, 7.273vw - 0.7046rem, 1rem);
  line-height: 150%; /* 24px */
  color: var(--color-white, #ffffff);
  text-align: center;
  text-wrap: balance;
  text-transform: uppercase;
}

/* ---------- 5. MAIN ---------- */
.product_item {
  position: relative;
  &:hover {
    & img {
      transition: 0.5s ease-in-out;
      transform: scale(1.15);
    }
    .product_item_btn {
      transition: 0.5s ease-in-out;
      transform: scale(1.15);
      background: rgba(25, 27, 28, 0.5);
    }
  }
}

.product_img {
  justify-content: center;
  height: 325px;
  overflow: hidden;
  background: var(--color-bunker, #191b1c);
  & img {
    height: 82.7%;
    transition: 0.5s ease-in-out;
  }
}

.product_item_titel {
  padding-top: 1.5625rem;
  padding-bottom: 0.625rem;
}

.product_item__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product_item_price {
  color: var(--color-light-gray, #d0d0d0);
  font-size: 1rem; /*17px;*/
  font-weight: bold;
}

/* ---------- 5.3 - Нові надходження ---------- */
.new_product {
  padding-top: clamp(3.75rem, 1.0714rem + 13.393vw, 7.5rem); /* 120px; - 60px*/
  padding-bottom: clamp(3.75rem, 20.089vw - 0.2678rem, 9.375rem); /* 150px; - 60px*/
  & .header-box_line {
    margin-top: clamp(1.25rem, 0.3572rem + 4.464vw, 2.5rem); /* 40px; - 20 px*/
    margin-bottom: clamp(2.5rem, 0.7142rem + 8.929vw, 5rem); /* 80px; - 40 px*/
  }
}

.new_product_items {
  display: grid;
  grid-template-columns: repeat(auto-fill, max(260px));
  justify-content: center;
  gap: 40px 23px;
  width: 100%;
}

.product_item_end {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background: rgba(25, 27, 28, 0.5);
}

.product_item_btn {
  position: absolute;
  font-family: "Playfair Display", serif;
  color: var(--color-white, #ffffff);
  background: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: 0.75rem 1.75rem;
  border: 1px solid var(--color-white, #ffffff);
  transition: 0.5s ease-in-out;
}


/* ---------- 5.5 - footer ---------- */
.partners_brends  {
  padding-top: clamp(2.8125rem, 0.12891rem + 11.45vw, 5.625rem); /* 90px; - 45px*/
  padding-bottom: clamp(3.125rem, 14.249vw  -0.21461rem, 6.625rem);/* 106px; - 50px*/
  & .header-box_line {
    margin-top: clamp(1rem, 0.64211rem + 1.527vw, 1.375rem); /* 22px; - 16 px*/
    margin-bottom: clamp(1.75rem, 0.08875rem + 7.088vw, 4.625rem); /* 74px; - 28 px*/
  }
}

.partners_logos {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: clamp(1rem, 0.16516rem + 3.562vw, 1.875rem); /* 768px -30px; 375px - 16 px*/
  font-size: 1.125rem;
  & li {
    &:nth-child(1) {
      width: 369px;
      aspect-ratio: 1/1;
      background-image: image-set(
        url('../Img/logo_brends/img_1920/coco_logo_brend_1920.avif') type('image/avif') 2x,
        url('../Img/logo_brends/img_1024/coco_logo_brend_1024.avif') type('image/avif') 1x,
        url('../Img/logo_brends/img_1920/coco_logo_brend_1920.webp') type('image/webp') 2x,
        url('../Img/logo_brends/img_1024/coco_logo_brend_1024.webp') type('image/webp') 1x,
        url('../Img/logo_brends/img_1920/coco_logo_brend_1920.png') 2x,
        url('../Img/logo_brends/img_1024/coco_logo_brend_1024.png') 1x
      );
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;       
    }
    &:nth-child(2) {
      width: 279px;
      aspect-ratio: 1/1;
      background-image: image-set(
        url('../Img/logo_brends/img_1920/rolex_logo_brend_1920.avif') type('image/avif') 2x,
        url('../Img/logo_brends/img_1920/rolex_logo_brend_1024.avif') type('image/avif') 1x,
        url('../Img/logo_brends/img_1920/rolex_logo_brend_1920.webp') type('image/webp') 2x,
        url('../Img/logo_brends/img_1920/rolex_logo_brend_1024.webp') type('image/webp') 1x,
        url('../Img/logo_brends/img_1920/rolex_logo_brend_1920.png') 2x,
        url('../Img/logo_brends/img_1920/rolex_logo_brend_1024.png') 1x
      );
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &:nth-child(3) {
      width: 271px;
      aspect-ratio: 1/1;
      background-image: image-set(
        url('../Img/logo_brends/img_1920/breguets_logo_brend_1920.avif') type('image/avif') 2x,
        url('../Img/logo_brends/img_1920/breguets_logo_brend_1024.avif') type('image/avif') 1x,
        url('../Img/logo_brends/img_1920/breguets_logo_brend_1920.webp') type('image/webp') 2x,
        url('../Img/logo_brends/img_1920/breguets_logo_brend_1024.webp') type('image/webp') 1x,
        url('../Img/logo_brends/img_1920/breguets_logo_brend_1920.png') 2x,
        url('../Img/logo_brends/img_1920/breguets_logo_brend_1024.png') 1x
      );
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &:nth-child(4) {
      width: 376px;
      aspect-ratio: 1/1;
      background-image: image-set(
        url('../Img/logo_brends/img_1920/haven_logo_brend_1920.avif') type('image/avif') 2x,
        url('../Img/logo_brends/img_1920/haven_logo_brend_1024.avif') type('image/avif') 1x,
        url('../Img/logo_brends/img_1920/haven_logo_brend_1920.webp') type('image/webp') 2x,
        url('../Img/logo_brends/img_1920/haven_logo_brend_1024.webp') type('image/webp') 1x,
        url('../Img/logo_brends/img_1920/haven_logo_brend_1920.png') 2x,
        url('../Img/logo_brends/img_1920/haven_logo_brend_1024.png') 1x
      );
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

/* ---------- 7. MEDIA ---------- */
@media screen and (max-width: 719.98px) {
  .nav_mob {
    display: block;
  }
  .nav_items {
    display: none;
  }
}

@media screen and (max-width: 563.98px) {
  .schedule_info {
    order: 2;
    & .phone_line {
      visibility: hidden;
    }
  }
}

@media screen and (max-width: 374.98px) {
  .work_schedule {
    justify-content: center;
  }
  .schedule_info,
  .phone_line {
    display: none;
  }
}
/* 


font-family: 'Post No Bills Jaffna Bold', sans-serif;



*/
